<?xml version="1.0" standalone="yes"?>
<webapplicationconfiguration>
  <authentication>
    <cachentlmcredentials>False</cachentlmcredentials>
    <defaultdomain />
    <realm />
    <requireclientcertificate>False</requireclientcertificate>
    <schemes>
      <scheme>Anonymous</scheme>
    </schemes>
    <verifyclientcertificatechain>False</verifyclientcertificatechain>
    <verifyclientcertificateexpiration>False</verifyclientcertificateexpiration>
  </authentication>
  <autorestart>True</autorestart>
  <customrequestheaders />
  <defaultdocuments />
  <loggingformat>None</loggingformat>
  <physicalroot>CUSTOMIZEDBYINSTALLER</physicalroot>
  <prefixes>
    <prefix scheme="http" port="Http">All</prefix>
  </prefixes>
  <requiresecurechannel>False</requiresecurechannel>
  <restricteddirectories />
  <virtualroot>/zBridge</virtualroot>
  <virtualfilesystem>
    <accessmode>ReadOnly</accessmode>
    <noncacheableextensions>
      <extension>.asa</extension>
      <extension>.asax</extension>
      <extension>.ascx</extension>
      <extension>.ashx</extension>
      <extension>.asmx</extension>
      <extension>.asp</extension>
      <extension>.aspx</extension>
      <extension>.axd</extension>
      <extension>.cdx</extension>
      <extension>.cer</extension>
      <extension>.config</extension>
      <extension>.cs</extension>
      <extension>.csproj</extension>
      <extension>.idc</extension>
      <extension>.licx</extension>
      <extension>.rem</extension>
      <extension>.resources</extension>
      <extension>.resx</extension>
      <extension>.shtm</extension>
      <extension>.shtml</extension>
      <extension>.soap</extension>
      <extension>.stm</extension>
      <extension>.svc</extension>
      <extension>.vb</extension>
      <extension>.vbproj</extension>
      <extension>.vsdisco</extension>
      <extension>.webinfo</extension>
    </noncacheableextensions>
    <store />
    <type>None</type>
  </virtualfilesystem>
</webapplicationconfiguration>